<div class="start-screen">
  <div class="overlay">
    <div class="content">
      <img class="logo animate-from-right" src="/logo1.png" alt="לוגו" style="animation-delay: 0.1s">
      <div class="title animate-from-right" style="animation-delay: 0.4s">
        המסע שלך לתזונה<br>
        נכונה מתחיל כאן
      </div>
      <div class="subtitle animate-from-right" style="animation-delay: 0.7s">
        ברוכים הבאים ל־MENUME התפריט היומי שלך<br>
        באתר זה תוכל לקבל תפריט יומי לכל ארוחות היום<br>
        בתוספת נשנושים <span style="font-weight:bold;">בהתאמה אישית בשבילך.</span>
      </div>
      <div class="buttons animate-from-right" style="animation-delay: 1s">
        <button class="btn" (click)="register()">להרשמה</button>
        <button class="btn" (click)="enter()"><strong>לכניסה</strong></button>
      </div>
    </div>
  </div>
</div>